 *{

    margin:0%;
    padding:0%;
 }
 .container{
    width:100%;
    HEIGHT:100vh;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content:center;
    align-items:center;
 }

  .weather_container{
        color: white
  }
  .temp h1 {
    font: size 4rem;
  }
  .time_location{
    font-size: 2rem;
  }
  .condition{
    margin:2rem;
    margin-left: 1rem;
  }
  nav{
    height:100px;
    margin:5rem;

  }
  .search_area{
    padding:1rem 0;
    outline:none;
    border:none;
    color:white;
    background-color: transparent;
    font-size: 1.1rem;
    border-bottom:2px solid white ;
  }
  nav form button{
    padding: 0.5rem;
    background-color: white;
    margin-top:1rem;
    font-size:1.1rem;
    outline:none;
    border:none;
    cursor: pointer;

  }